/*CSS document*/

@import url("https://use.typekit.net/xab7alw.css");


figure {
    margin: 0 0 0.3em 0;
}

img {
    width: 100%;
}

nav ul { 
    padding: 0em 0em 1em 0em; 
} 

nav ul li {
    display: inline;
    list-style-type: none;
    letter-spacing: 0.05em;
    padding-right: 2em; 
    text-transform: uppercase;
} 

h1 {
    width: 10em;
}

h2 {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    margin: .8em 0 .2em 0;
}

h3 {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
    margin: 0;
}

section.mainstory h3 {
    font-size: 1.75em;
}

p {
    font-family: filson-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 0.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #223342;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #223342;
}

a:hover {
  text-decoration: none;
  color: #91b391;
}

a:active {
  text-decoration: none;
  color: #C8984F;
}

figcaption {
    /*margin-top: 0.2em;*/
    font-family: filson-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #223342;
}

footer {
    font-family: filson-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #91b391;
    margin: 2em 0 2em 0;
}

/* gallery stuff */

main.gallery {
    margin: 0;
    grid-column: 1/3;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em); /*images width/height = 72%*/
}

main.gallery figure {
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.gallery {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.2em;
}

nav.gallery label img {
    height: 6.25em;
    object-fit: cover;
}

input.gallery {
    display: none;
}

/* newsletter stuff */

div.subscription {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

section.subscriber-info, section.options, section.button {
    background: #fcf3e8;
    margin-bottom: 1em;
    padding: 1.5em;
    box-sizing: border-box;
}

section.subscriber-info ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

section.subscriber-info ul li input[type="text"],
section.subscriber-info ul li input[type="email"] {
    flex: 1 0 24em;
    box-sizing: border-box;
}

section.options {
    list-style-type: none;
}

section.subscriber-info ul li label {
    flex: 0 0 6em;
}

label {
    flex: 1 0 2em;
}

div.subscription h2{
    color: #91b391;
}

div.subscription li {
    font-family: filson-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

div.container {
    max-width: 60em;
    margin: 0 auto;
}

section {
    max-width: 40em;
    margin: 0 auto 2.8em; 
}

@media screen and (min-width: 60em) {

    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1.3em;
    }

    header {
        grid-column: 1/3;
        margin: 0;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.3em 1.3em;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(slow-fashion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure div img {
        height: 100%;
        opacity: 0;
    }

    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p {
        flex: 0 0 auto;
        margin-bottom: 1em;
    }

    aside {
        grid-column: 2/4;
        grid-gap: 0 1em;
        margin: 0;
    }

    section.secondarysstory a figure img {
        max-height: 8.3em;
    }

    article {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }
}