/*CSS document*/

@import url("https://use.typekit.net/xab7alw.css");

div.container {
    max-width: 60em;
    margin: 0 auto;

}

section {
    max-width: 40em;
    margin: 0 auto 2.8em; 
}

figure {
    margin: 0 0 0.3em 0;
}

img {
    width: 100%;
}

nav ul { 
    padding: 0em 0em 1em 0em; 
} 

nav ul li {
    display: inline;
    list-style-type: none;
    letter-spacing: 0.05em;
    padding-right: 2em; 
    text-transform: uppercase;
} 

h1 {
    width: 10em;
}

h2 {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
    margin: .8em 0 .2em 0;
}

h3 {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    margin: 0;
}

section.mainstory h3 {
    font-size: x-large;
}

p {
    font-family: filson-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 0.2em;
}

li {
    font-family: filson-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #223342;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: #223342;
}

a:hover {
  text-decoration: none;
  color: #91b391;
}

a:active {
  text-decoration: none;
  color: #C8984F;
}

figcaption {
    /*margin-top: 0.2em;*/
    font-family: filson-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #223342;
}

footer {
    font-family: filson-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: small;
    color: #91b391;
    margin: 2em 0 2em 0;
}


/*hr {
    border: 0;
    border: 1px solid #DDD;
}*/

@media screen and (min-width: 60em) {

    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1.3em;
    }

    header {
        grid-column: 1/3;
        margin: 0;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.3em 1.3em;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(slow-fashion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure div img {
        height: 100%;
        opacity: 0;
    }

    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p {
        flex: 0 0 auto;
        margin-bottom: 1em;
    }

    aside {
        grid-column: 2/4;
        grid-gap: 0 1em;
        margin: 0;
    }

    /*section.tertiarystory {
        margin-bottom: 2em;
    }*/


    section.secondarysstory a figure img {
        max-height: 133px;
    }

    article {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }
}